body {
    font-family: 'Verdana', sans-serif;
    background-color: rgb(0, 0, 255); 
    color: rgb(0, 255, 0); 
    margin: 0;
}

.header {
    background-color: rgb(255, 0, 204); 
    color: rgb(0, 0, 255); 
    text-align: center;
    padding: 20px;
    font-family: 'PixelFont', sans-serif; 
}

#navbar {
    background-color: rgb(255, 0, 204); 
    color: rgb(0, 255, 0);
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#navbar li {
    margin: 0 20px;
}

#navbar a {
    text-decoration: none;
    color: #00ff00; 
    font-weight: bold;
    transition: color 0.3s;
}
  
#navbar a:hover {
    color: rgb(0, 0, 255); 
}

#navbar a.active {
    background-color: rgb(255, 0, 204);
    color: rgb(0, 0, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.content {
    padding: 40px;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 50px;
}

.footer {
    background-color: rgb(255, 0, 204);
    color: rgb(0, 255, 0); 
    text-align: center;
    padding: 5px;
}

.header h1 {
    animation: colorFlash 2s infinite alternate;
    font-size: 50px;
}

@keyframes colorFlash {
    0% {
        color: #ff00ff;
    }
    25% {
        color: #00ff00; 
    }
    50% {
        color: #0000ff;
    }
    75% {
        color: #ff0000;
    }
    100% {
        color: #ffff00;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.post {
    background-color:rgb(255, 0, 204);
    border: 5px solid rgb(0, 255, 0);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

img.gif{
    width: 450px;
    height: 300px;
}

.blink{
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 630px) {
    img.gif {
      max-width: 225px; 
      max-height: 150px;
    }
  
    .header h1 {
      font-size: 35px;
    }
}

.link {
    background-color: rgb(0, 255, 0);
    color: blue;
    padding: 14px 25px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}